USE [master]
GO
/****** Object:  Database [RECURSO_GLOSA_MDATA]    Script Date: 08/01/2018 17:36:58 ******/
CREATE DATABASE [RECURSO_GLOSA_MDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RECURSO_GLOSA_MDATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RECURSO_GLOSA_MDATA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RECURSO_GLOSA_MDATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RECURSO_GLOSA_MDATA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RECURSO_GLOSA_MDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RECURSO_GLOSA_MDATA]
GO
/****** Object:  Table [dbo].[DEMONSTRATIVO]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMONSTRATIVO](
	[ID_DEMONS] [int] IDENTITY(1,1) NOT NULL,
	[PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA] [int] NOT NULL,
	[PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR] [int] NOT NULL,
	[FUNCIONARIO_ID_FUNCIONARIO] [int] NOT NULL,
	[DT_BAIXADO] [date] NULL,
	[TIP_DEMONS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEMONS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](255) NULL,
	[SENHA] [varchar](255) NULL,
	[NOME_FUNCIONARIO] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GUIAS]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUIAS](
	[ID_GUIA] [int] IDENTITY(1,1) NOT NULL,
	[LOTE_COD_LOTE] [int] NULL,
	[COD_GUIA] [int] NULL,
	[PROTOCOLO] [int] NULL,
	[NUM_GUIA] [int] NULL,
	[NUM_GUIA_PRESTADOR] [int] NULL,
	[SENHA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GUIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOTE]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOTE](
	[COD_LOTE] [int] NOT NULL,
	[ID_LOTE] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OPERADORAS]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERADORAS](
	[ID_OPERADORA] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FANTASIA] [varchar](255) NULL,
	[REGISTRO_ANS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRESTADORES]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRESTADORES](
	[IDPRESTADOR] [int] IDENTITY(1,1) NOT NULL,
	[RAZAO_SOCIAL] [varchar](255) NULL,
	[CPF_CNPJ] [varchar](255) NULL,
	[NOME_FANTASIA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPRESTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRESTADORES_has_OPERADORAS]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTADORES_has_OPERADORAS](
	[PRESTADORES_IDPRESTADOR] [int] NOT NULL,
	[OPERADORAS_ID_OPERADORA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRESTADORES_IDPRESTADOR] ASC,
	[OPERADORAS_ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROCEDIMENTO]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROCEDIMENTO](
	[idPROCEDIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[GUIAS_ID_GUIA] [int] NULL,
	[DESCRICAO] [varchar](255) NULL,
	[VLR_INFORMADO] [int] NULL,
	[VLR_LIBERADO] [int] NULL,
	[VLR_GLOSA] [int] NULL,
	[DATA_REALIZACAO] [date] NULL,
	[COD_GLOSA] [int] NULL,
	[TABELA] [int] NULL,
	[COD_GLOSA_GUIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPROCEDIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECURSO_GLOSA]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECURSO_GLOSA](
	[idRECURSO_GLOSA] [int] IDENTITY(1,1) NOT NULL,
	[TABELA_ANS_COD_ANS] [int] NULL,
	[TABELA_OPCOES_ANS_ID_OPCOES] [int] NULL,
	[PROCEDIMENTO_idPROCEDIMENTO] [int] NOT NULL,
	[PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA] [int] NOT NULL,
	[PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR] [int] NOT NULL,
	[FUNCIONARIO_ID_FUNCIONARIO] [int] NOT NULL,
	[OBSERVACAO] [varchar](255) NULL,
	[STATUS_2] [int] NULL,
	[VLR_RECURSADO] [float] NULL,
	[DT_RECURSO] [date] NULL,
	[DPP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRECURSO_GLOSA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABELA_ANS]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABELA_ANS](
	[COD_ANS] [int] IDENTITY(1,1) NOT NULL,
	[TABELA_OPCOES_ANS_ID_OPCOES] [int] NULL,
	[DESCRICAO] [varchar](255) NULL,
	[RESPOSTA_AUTOMATICA] [varchar](255) NULL,
	[COD_ANS_NORMA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABELA_OPCOES_ANS]    Script Date: 08/01/2018 17:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABELA_OPCOES_ANS](
	[ID_OPCOES] [int] IDENTITY(1,1) NOT NULL,
	[OPERADORAS_ID_OPERADORA] [int] NULL,
	[DESCRIÇÃO] [varchar](255) NULL,
	[COD_INTERNO] [int] NULL,
	[RESPOSTA_AUTOMATICA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OPCOES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [DEMONSTRATIVO_FKIndex2]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [DEMONSTRATIVO_FKIndex2] ON [dbo].[DEMONSTRATIVO]
(
	[FUNCIONARIO_ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DEMONSTRATIVO_FKIndex3]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [DEMONSTRATIVO_FKIndex3] ON [dbo].[DEMONSTRATIVO]
(
	[PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR] ASC,
	[PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GUIAS_FKIndex1]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [GUIAS_FKIndex1] ON [dbo].[GUIAS]
(
	[LOTE_COD_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRESTADORES_has_OPERADORAS_FKIndex1]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [PRESTADORES_has_OPERADORAS_FKIndex1] ON [dbo].[PRESTADORES_has_OPERADORAS]
(
	[PRESTADORES_IDPRESTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRESTADORES_has_OPERADORAS_FKIndex2]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [PRESTADORES_has_OPERADORAS_FKIndex2] ON [dbo].[PRESTADORES_has_OPERADORAS]
(
	[OPERADORAS_ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PROCEDIMENTO_FKIndex1]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [PROCEDIMENTO_FKIndex1] ON [dbo].[PROCEDIMENTO]
(
	[GUIAS_ID_GUIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECURSO_GLOSA_FKIndex4]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [RECURSO_GLOSA_FKIndex4] ON [dbo].[RECURSO_GLOSA]
(
	[TABELA_OPCOES_ANS_ID_OPCOES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECURSO_GLOSA_FKIndex5]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [RECURSO_GLOSA_FKIndex5] ON [dbo].[RECURSO_GLOSA]
(
	[FUNCIONARIO_ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECURSO_GLOSA_FKIndex6]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [RECURSO_GLOSA_FKIndex6] ON [dbo].[RECURSO_GLOSA]
(
	[PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR] ASC,
	[PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECURSO_GLOSA_FKIndex7]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [RECURSO_GLOSA_FKIndex7] ON [dbo].[RECURSO_GLOSA]
(
	[PROCEDIMENTO_idPROCEDIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECURSO_GLOSA_FKIndex8]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [RECURSO_GLOSA_FKIndex8] ON [dbo].[RECURSO_GLOSA]
(
	[TABELA_ANS_COD_ANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TABELA_ANS_FKIndex1]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [TABELA_ANS_FKIndex1] ON [dbo].[TABELA_ANS]
(
	[TABELA_OPCOES_ANS_ID_OPCOES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TABELA_OPCOES_ANS_FKIndex1]    Script Date: 08/01/2018 17:36:58 ******/
CREATE NONCLUSTERED INDEX [TABELA_OPCOES_ANS_FKIndex1] ON [dbo].[TABELA_OPCOES_ANS]
(
	[OPERADORAS_ID_OPERADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEMONSTRATIVO]  WITH CHECK ADD FOREIGN KEY([FUNCIONARIO_ID_FUNCIONARIO])
REFERENCES [dbo].[FUNCIONARIO] ([ID_FUNCIONARIO])
GO
ALTER TABLE [dbo].[DEMONSTRATIVO]  WITH CHECK ADD FOREIGN KEY([PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR], [PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA])
REFERENCES [dbo].[PRESTADORES_has_OPERADORAS] ([PRESTADORES_IDPRESTADOR], [OPERADORAS_ID_OPERADORA])
GO
ALTER TABLE [dbo].[GUIAS]  WITH CHECK ADD FOREIGN KEY([LOTE_COD_LOTE])
REFERENCES [dbo].[LOTE] ([COD_LOTE])
GO
ALTER TABLE [dbo].[PRESTADORES_has_OPERADORAS]  WITH CHECK ADD FOREIGN KEY([OPERADORAS_ID_OPERADORA])
REFERENCES [dbo].[OPERADORAS] ([ID_OPERADORA])
GO
ALTER TABLE [dbo].[PRESTADORES_has_OPERADORAS]  WITH CHECK ADD FOREIGN KEY([PRESTADORES_IDPRESTADOR])
REFERENCES [dbo].[PRESTADORES] ([IDPRESTADOR])
GO
ALTER TABLE [dbo].[PROCEDIMENTO]  WITH CHECK ADD FOREIGN KEY([GUIAS_ID_GUIA])
REFERENCES [dbo].[GUIAS] ([ID_GUIA])
GO
ALTER TABLE [dbo].[RECURSO_GLOSA]  WITH CHECK ADD FOREIGN KEY([FUNCIONARIO_ID_FUNCIONARIO])
REFERENCES [dbo].[FUNCIONARIO] ([ID_FUNCIONARIO])
GO
ALTER TABLE [dbo].[RECURSO_GLOSA]  WITH CHECK ADD FOREIGN KEY([PROCEDIMENTO_idPROCEDIMENTO])
REFERENCES [dbo].[PROCEDIMENTO] ([idPROCEDIMENTO])
GO
ALTER TABLE [dbo].[RECURSO_GLOSA]  WITH CHECK ADD FOREIGN KEY([TABELA_OPCOES_ANS_ID_OPCOES])
REFERENCES [dbo].[TABELA_OPCOES_ANS] ([ID_OPCOES])
GO
ALTER TABLE [dbo].[RECURSO_GLOSA]  WITH CHECK ADD FOREIGN KEY([TABELA_ANS_COD_ANS])
REFERENCES [dbo].[TABELA_ANS] ([COD_ANS])
GO
ALTER TABLE [dbo].[RECURSO_GLOSA]  WITH CHECK ADD FOREIGN KEY([PRESTADORES_has_OPERADORAS_PRESTADORES_IDPRESTADOR], [PRESTADORES_has_OPERADORAS_OPERADORAS_ID_OPERADORA])
REFERENCES [dbo].[PRESTADORES_has_OPERADORAS] ([PRESTADORES_IDPRESTADOR], [OPERADORAS_ID_OPERADORA])
GO
ALTER TABLE [dbo].[TABELA_ANS]  WITH CHECK ADD FOREIGN KEY([TABELA_OPCOES_ANS_ID_OPCOES])
REFERENCES [dbo].[TABELA_OPCOES_ANS] ([ID_OPCOES])
GO
ALTER TABLE [dbo].[TABELA_OPCOES_ANS]  WITH CHECK ADD FOREIGN KEY([OPERADORAS_ID_OPERADORA])
REFERENCES [dbo].[OPERADORAS] ([ID_OPERADORA])
GO
USE [master]
GO
